%body{style:"font-family: Arial, Helvetica, sans-serif"}
  .container{style: 'width: 600px'}
    %h1 Ruby on Rails: Быстрый Старт

    %h2 Спасибо за регистрацию!

    %p
      #{@name}, ты зарегистрировался для участия в курсах Ruby on Rails: быстрый старт.
      Для того, чтобы зарезервировать место, тебе нужно оплатить стоимость участия в размере
      %strong 200 грн.
      Лучше это сделать как можно скорее, так как количество мест ограничено.

    %p
      %strong Перевод на карту Приватбанка

    %p
      Номер карты:
      %strong 5457 0920 2699 6805
      %br
      Кому:
      %strong Омельчук Юрий Владимирович
      %br
      Сумма:
      %strong 200 грн.

    %p
      Перевод можно сделать через Приват 24 либо через сеть платежных терминалов Приватбанка.
      При переводе указывайте имя плательщика чтобы было понятно от кого пришли деньги.

    %p После поступления платежа ты получишь письмо с подтверждением оплаты.
