%body{style:"font-family: Arial, Helvetica, sans-serif"}
  .container{style: 'width: 600px'}
    %h1 Ruby on Rails: Быстрый Старт

    %h2 Спасибо за регистрацию!

    %p
      #{@name}, вы зарегистрировались для участия в курсах Ruby on Rails: быстрый старт.
      Для того, чтобы зарезервировать место, вам нужно оплатить стоимость участия в размере
      %strong 200 грн.
      Лучше это сделать как можно скорее, так как количество мест ограничено.

    %p
      %strong Перевод на карту Приватбанка

    %p
      Номер карты:
      %strong 5457 0920 2699 6805
      %br
      Кому:
      %strong Омельчук Юрий Владимирович
      %br
      Сумма:
      %strong 200 грн.

    %p
      Перевод можно сделать через Приват 24 либо через сеть платежных терминалов Приватбанка.
      При переводе указывайте имя плательщика чтобы было понятно от кого пришли деньги.
      Если возможности указать от кого платеж нет, напишите письмо с вашим именем и деталями платежа.

    %p После поступления платежа вы получите письмо с подтверждением участия.

%p
  == С нами можно связаться по электропочте <a href="mailto:#{UserMailer::CONTACT}">#{UserMailer::CONTACT}</a> или
  написать твит для <a href="https://twitter.com/kodolabs", target="_blank">@kodolabs</a>.
