%h3 Спасибо за регистрацию!
%p Скоро мы сообщим точное время, дату и место проведения мероприятия.
%br/
%p
  == С нами можно связаться по электропочте <a href="mailto:#{UserMailer::CONTACT}">#{UserMailer::CONTACT}</a> или
  написать твит для <a href="https://twitter.com/kodolabs", target="_blank">@kodolabs</a>.
