.container-narrow
  %h1 Регистрация

  %p.lead Спасибо, ты успешно зарегистрировался

  %p
    Теперь воспользуйся одним из доступных способов, чтобы оплатить участие в курсах.
    Поскольку количество мест ограничено, лучше сделать это сразу.
