.subscribe
  = form_for @user, :remote => true, :html => { :class => 'form-horizontal' } do |f|

    %p
      %strong Я хочу получать новости о курсе "Ruby on Rails: быстрый старт"

    = email_field_tag :email, '', :class => 'span3', :required => true, :placeholder => 'Электропочта'
    = f.submit 'Подписаться', :class => 'btn', 'data-disable-with' => 'Подождите...'
    %br
    %small.mute Мы не будем вас спамить и не передадим информацию посторонним.

  #thankyou.hide
    %h4 Спасибо! Мы напишем тебе сразу, как только у нас будут новости.
