.row-fluid.target
  .span6
    %h4 Начинающим
    %p
      Ruby - это прекрасный язык для того, чтобы начать программировать. А Ruby on Rails научит тебя правильным
      подходам к программированию, такие как модульность, расширяемость и тестирование.
  .span6
    %h4 Опытным
    %p
      Если ты пишешь на PHP, Python или C#, тебе будет интересно познакомиться с новым языком - Ruby.
      Это красивый, мощный и удобный язык. Ruby on Rails - это мощная инфраструктура, которая делает твою работу приятной и продуктивной.
