.jumbotron
  .container-narrow
    %h1
      Ruby on Rails:
      %br
      Быстрый старт
    %p.lead
      Познакомься с замечательным фреймворком для создания веб приложений.
      Начни использовать Rails в реальных проектах уже завтра.

.container-narrow
  .row-fluid
    .span12.program
      Команда опытных ruby разработчиков проведет 2-х дневные курсы
      %strong 15-16 июня
      в
      %strong Севастополе.

      Программа совместит в себе теорию и практику. Мы расскажем как быстро настроить рабочее окружение, как устроено rails-приложение,
      как работать с базами данных и как писать автоматизированные тесты. Мы поможем тебе написать первое приложение на Rails.

  = render 'subscribe'
  -#.registration_teaser
  -#  = link_to 'Регистрация', new_registration_path, class: 'btn btn-red'

  .row-fluid.target
    .span6
      %h4 Начинающим
      %p
        Ruby - это прекрасный язык для того, чтобы начать программировать. А Ruby on Rails научит тебя правильным
        подходам к программированию, такие как модульность, расширяемость и тестирование.
    .span6
      %h4 Опытным
      %p
        Если ты пишешь на PHP, Python или C#, тебе будет интересно познакомиться с новым языком - Ruby.
        Это красивый, мощный и удобный язык. Ruby on Rails - это мощная инфраструктура, которая делает твою работу приятной и продуктивной.



= render 'questions'


:javascript
  $('#questionary').on('hidden', function() {
    $("#new_user").fadeOut('fast', function() {
      $('#thankyou').fadeIn();
    });
  });
