.jumbotron
  .container-narrow
    %h1
      Ruby on Rails:
      %br
      Быстрый старт
    %p.lead
      Познакомься с замечательным фреймворком для создания веб приложений.
      Начни использовать Rails в реальных проектах уже завтра.



.container-narrow
  = render 'gallery'

  .row-fluid
    .span12.program
      Команда разработчиков компании Kodo Labs провела 2-х дневные курсы по Ruby on Rails в Севастополе.

      Программа совместила в себе теорию и практику. Слушатели узнали как быстро настроить рабочее окружение, как устроено rails-приложение,
      как работать с базами данных и как писать автоматизированные тесты.


  = render 'subscribe'

  -#.registration_teaser
  -#  = link_to 'Регистрация', new_registration_path, class: 'btn btn-red'

  -#= render 'target'

-#= render 'questions'


:javascript
  $('#questionary').on('hidden', function() {
    $("#new_user").fadeOut('fast', function() {
      $('#thankyou').fadeIn();
    });
  });
