.container-narrow

  %section
    %h2 Программа

    %p
      Курсы пройдут в форме интенсивного двухдневного семинара 15-16 июня в конференц-зале гостиницы Рейкарц
      (ул Героев Сталинграда, 22) с 10 до 17 часов. Стоимость участия - 200 грн. Количество мест ограничено - 20 человек.

  %section
    %h2 Кто мы и зачем это делаем

    %p
      Курсы
      %strong Ruby on Rails: Быстрый старт
      организованы командой Kodo Labs - профессиональными разработчиками
      с 4-х летним стажем работы с Ruby on Rails.

    %p
      Мы считаем что несмотря на огромную популярность Ruby on Rails в мире, в нашем городе
      немногие знают о нем и мы хотим исправить эту ситуацию.

    %p
      Мы хотим поделиться своим опытом и помочь тебе начать программировать на ruby и
      использовать замечательный фреймворк Ruby on Rails в своих проектах.

  %section
    %h2 Для кого мы это делаем

    %p
      Эти курсы рассчитаны на людей, которые уже умеют программировать хотя бы на одном языке и, желательно,
      знакомы с основами веб-программирования.
      Наиболее интересно будет опытным программистам, которые разрабатывают веб-приложения на PHP, .NET,
      JAVA или Python. Они смогут сравнить и оценить премущества, которые дает Rails.

    %p
      Если ты начинающий программист, то ты не должен бояться командной строки, быть хотя бы немного знаком
      с линуксом и понимать чем отличается GET от POST.

    %p Чтобы получить максимальную пользу, тебе стоит прийти с ноутбуком. Если у тебя нет своего, попроси на время у друга.

  %section
    %h2 Формат и темы

    %p
      Двух-дневный интенсивный курс будет включать в себя теорию, практику, скринкасты и сессию вопросов-ответов.
      Мы поможем установить на твой ноутбук все необходимое для работы. Мы вместе с тобой разработаем
      несложное приложение и расскажем обо всем, что тебе понадобится для работы с Rails.

    %ul
      %li Архитектура Rails
      %li Использование генераторов для создания приложения и отдельных компонентов
      %li git - отличия, преимущества. Работа с ветками.
      %li ActiveRecord - модели, миграции, валидация, ассоциации.
      %li Фронтэнд - views, helpers
      %li Аsset pipeline
      %li Тестирование
      %li Популярные библиотеки - ruby gems


  %br
  %br
  %br
