.container-narrow

  %section
    %h2 Подготовка

    %p
      Настройка ноутбука для работы ruby & rails может занять некоторое время, к тому же, настройка окружения под Windows
      это совсем нелегкая задача, поэтому мы приготовили образ виртуальной машины с Xubuntu, где уже все настроено.
      Для того чтобы использовать этот образ тебе надо скачать и установить бесплатный
      == #{link_to 'VirtualBox', 'https://www.virtualbox.org/wiki/Downloads'}, затем скачать
      образ виртуальной машины
      == #{link_to 'railskickstart.vdi', 'https://www.dropbox.com/s/klprak41k2guqwd/railskickstart.vdi'} (4.5 ГБ).

    %p
      Затем надо создать новую виртуальную машину с использованием этого VDI файла.
      == Подробная инструкция на английском #{link_to 'здесь', 'https://www.virtualbox.org/manual/ch01.html#gui-createvm'}.

  %section
    %h2 Расписание

    %p Каждый день курсов будет по пять презентаций.

    %p
      %strong День первый

    %table.table
      %tr
        %td{width: '20%'} 9:30 - 10:00
        %td регистрация, настройка
      %tr
        %td 10:00 - 10:20
        %td приветствие
      %tr
        %td 10:20 - 11:05
        %td Ruby
      %tr
        %td 11:15 - 12:00
        %td Environment
      %tr
        %td
        %td coffee break
      %tr
        %td 12:15 - 13:15
        %td ActiveRecord

      %tr
        %td 13:30 - 14:30
        %td обед
      %tr
        %td 14:30 - 15:15
        %td ActionController
      %tr
        %td 15:30 - 16:15
        %td ActionView


    %p
      %strong День второй

    %table.table
      %tr
        %td{width: '20%'}  10:00 - 10:45
        %td ActionController 2 + REST
      %tr
        %td 11:00 - 11:45
        %td ActiveRecord 2
      %tr
        %td
        %td coffee break
      %tr
        %td 12:00 - 12:45
        %td Тестирование
      %tr
        %td 13:30 - 14:30
        %td перерыв на обед
      %tr
        %td 14:30 - 15:15
        %td Assets
      %tr
        %td 15:30 - 16:15
        %td Полезные библиотеки


  %br
  %br
  %br

