%h2 404
%div
  %h3 Нам очень жаль
  %p
    Но страница '#{@not_found_path}', которую вы открыли не существует
  %p
    Перейдите на
    = link_to 'домашнюю страницу', root_path
    и попробуйте заново повторить действия
