<ul class="social-likes" data-title="Курсы &quot;Ruby on Rails: Быстрый старт&quot; в Севастополе: http://railskickstart.com.ua/">
  <li class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</li>
  <li class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</li>
  <li class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</li>
  <li class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</li>
</ul>
